<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
        <div class="login-container d-flex align-items-center justify-content-center">
            <form action="/announcement/{{id}}/edit" method="post"  class ="text-center" >
            <h2>Edit a Annoucement</h2>
                <div class="form-group">
                    <label for= "Type">Loại thông báo</label>
                
                        <select class="form-control " name="Type" id = "Type">
                            <option value="Thông báo học vụ" >Thông báo học vụ</option>
                            <option value="Thông báo chung">Thông báo chung</option>
                        </select>
                </div>

                <div class="form-group">
                    <label for= "PublicType">Chế độ thông báo</label>
                    
                        <select class="form-control"  name="Public" id = "PublicType">
                            <option value="true" >Thông báo công khai</option>
                            <option value="false">Thông báo nội bộ</option>
                        </select>
                </div>

                <div class = "form group">
                    <label for= "Title">Title</label>
                    <input class="form-control" type="text" name="Title" id = "Title" value = "{{Title}}"required>
                </div>
                
                
                <div class = "form group">
                    <label for= "Description">Description</label>
                    <textarea class="form-control" rows="2" cols="23" type="text" name="Description" id ="Description" required>{{Description}}</textarea>
                </div>    

                <div class = "form group">
                    <label for= "Content">Content</label>
                    <textarea class="form-control" rows="5" cols="23" type="text" name="Content" id = "Content" required>{{Content}}</textarea>  
                </div>
                <div class = "form group">
                    <p> {{message}}</p>
                    <button class ="btn btn-primary btn-block" type="submit" value = "Update">Update Announcement</button>
                </div>
            </form>
        </div>
        <a href="/">Back to Home</a>
</body>
</html>