<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Edit a Annoucement</h2>
        <br> 
        <form action="/course/management/{{id}}/edit" method="post" >

            <label for= "Type">Loại thông báo</label>
            <div >
                <select name="Type" id = "Type">
                    <option value="Thông báo học vụ" >Thông báo học vụ</option>
                    <option value="Thông báo chung">Thông báo chung</option>
                </select>
            </div>
            
            <label for= "PublicType">Chế độ thông báo</label>
            <div >
                <select name="Public" id = "PublicType">
                    <option value="true" >Thông báo công khai</option>
                    <option value="false">Thông báo nội bộ</option>
                </select>
            </div>


             <label for= "Title">Title</label>
            <div class = "form group">
                <input type="text" name="Title" id = "Title" value = "{{Title}}">
            </div>
            

            <label for= "Content">Content</label>
            <div class = "form group">
                <textarea rows="5" cols="23" type="text" name="Content" id = "Content" >{{Content}}</textarea>  
            </div>

            <label for= "Description">Description</label>
            <div class = "form group">
                <textarea rows="5" cols="23" type="text" name="Description" id ="Description" >{{Description}}</textarea>
            </div>    
            

                <p> {{message}}</p>
                <input type="submit" value = "Post">
        </form>

        <a href="/home">Back to Home</a>
</body>
</html>