<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class = "form-content" style="margin-bottom: 10px;">
            <h3>
              <span >{{this.codeCourse}}</span>
              <span> - </span>
              <span >{{this.Name}}</span>
            </h3> 
            
            <b style="margin:0;display:inline;float:left">Mô tả môn học: </b> 
            <p style="margin:0;display:inline:float:right;margin-right:5px;" > {{this.Description}}</p>

            <div>
              <a href="/course/{{codeCourse}}/member-list">Danh sách lớp</a>
            </div>

            <div>
              <a href="/course/{{codeCourse}}/upload-video">{{this.UpVideo}}</a>
            </div>

        </div>
        
        

        <div class = "form-content">
          <h4>Danh sách bài học</h4>
          {{#each AssetInfoS}}
              <div class = "border-bottom">
                  <br>
                  <a class = "btn btn-link" href="/course/view-video/{{this._id}}">{{this.Title}}</a>
                   <a class = "btn btn-link delete-button" href="/course/delete-video/{{this._id}}" data-toggle="modal" data-target="#delete-announcement" data-id ="{{this._id}}">{{../DeleteVideo}}</a> 
                  <br>
              </div>
          {{/each}}
        </div>
        <!--
          <form action="/course/{{idCourse}}/upload-comment" method="post" >
              <b for="UserName">{{UserName}}</b><br>
              <input  type="text" id ="UserName" name="Content" required placeholder="Write something here" >
              
              <input type="submit" value = "Comment">
          </form>
        
        <br>
        
        {{#each CommentS}}
            <div>
                <br>
                    
                    <div>
                        <b style="margin:0;display:inline;float:left" > {{this.RealNameAuthor}} - </b> 
                        <p style="margin:0;display:inline:float:right" > [{{this.CreateAt}}]  </p>
                        <p>{{this.Content}}</p>
                        <a class = "btn btn-link" href="/course/edit-comment/{{this._id}}">Sửa comment này</a>
                        <a class = "btn btn-link" href="/course/delete-comment/{{this._id}}" data-toggle="modal" data-target="#delete-announcement" data-id ="{{this._id}}">Xoá comment này</a>
                    </div>
            </div>
        {{/each}}
        //-->
        <br>
    <div class="mt-4">
         
    <a href="/home">back to home</a>
    </div>
    <div id = "delete-announcement"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XOÁ BÀI GIẢNG NÀY?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <span style="color: black;">BÀI GIẢNG NÀY SẼ BỊ XOÁ</span>
          <strong style="color: red;">VĨNH VIỄN</strong>
        </p>
        <p>Hãy cẩn trọng vì hành động này sẽ ảnh hưởng đến sinh viên đang theo học của bạn!</p>
        <p id = "title-content"> </p>
      </div>
      <div class="modal-footer">
        <button id = "btn-delete" type="button" class="btn btn-danger">XOÁ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ĐÓNG</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-form" method="post"></form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var id; 

    var deleteForm = document.forms['delete-form']
$('#delete-announcement').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    id = button.data('id')
    });
    var btnDelete = document.getElementById('btn-delete')
    btnDelete.onclick = function(){
        deleteForm.action = '/course/delete-video/'+ id  ;
        deleteForm.submit();
    }

});
  
</script>
</body>
</html>