<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
        <div class="login-container d-flex align-items-center justify-content-center">
        
        
        <form action="/course/management/{{this.id}}/edit" method="post" class ="text-center form-content" >
            <h2>Chỉnh sửa thông tin khoá học</h2>


            
            <div class = "form group">
                <label for= "Name">Tên môn học</label>
                <input class = "form-control"  type="text" name="Name" id = "Name" value= "{{Name}}">
            </div>
            

            <label for= "codeCourse">Mã môn</label>
            <div class = "form group">
                <input class = "form-control"  type="text" name="codeCourse" id = "codeCourse"value= "{{codeCourse}}"> 
            </div>

            <label for= "Description">Mô tả môn học</label>
            <div class = "form group">
                <textarea  class = "form-control" rows="5" cols="23" type="text" name="Description" id ="Description">{{Description}}</textarea>
            </div>    
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px;">
                <div class="form group"style="margin-right: 20px;">
                    <label for="start">Ngày bắt đầu:</label>
                    <input type="date" id="start" name="Start" value="2023-12-20" min="2023-01-01" max="2024-12-31" />
                </div>
            
                <div class="form group "style="margin-right: 20px;">
                   
                    <label  for="start">Ngày kết thúc:</label>
                    <input type="date" id="start" name="End" value="2023-12-20" min="2023-01-01" max="2024-12-31" />
                </div>
            </div>
            <input type ="hidden" name="OldCodeCourse" value = "{{OldCodeCourse}}">
                <p> {{message}}</p>
                <input class ="btn btn-primary btn-block" type="submit" value = "Chỉnh sửa thông tin khoá học">
        </form>
</div>
        <a href="/home">Back to Home</a>

        
</body>
</html>