<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../.././src/public/css/Course/ViewVideo.css">
</head>
<body>
        <h2> VIEW VIDEO</h2>
        
            <div>
                <h2> {{Title}}</h2>
                <p> {{Description}}</p>
                <br>
                <a class = "btn btn-link" href="{{URL}}">{{URL}}</a>
                <br>
                <iframe src = "{{URL}}" style="height:600px;width:1000px;"  title="{{Title}}" ></iframe>
            </div>
            <br>
            <br>
            <br>
            <br>    
        <div>
            <b>Thảo luận bài học tại đây ^_^ </b>
        </div>

        <form action="/course/{{idCourse}}/upload-comment" method="post" >
            <b for="UserName">{{UserName}}</b><br>
            <input  type="text" id ="UserName" name="Content" required placeholder="Write something here" >
            
            <input type="submit" value = "Comment">
        </form>
        <br>

        {{#each CommentS}}
            <div>
                <br>
                    
                    <div>
                        <b style="margin:0;display:inline;float:left" > {{this.RealNameAuthor}} - </b> 
                        <p style="margin:0;display:inline:float:right" > [{{this.CreateAt}}]  </p>
                        <p>{{this.Content}}</p>
                        <a class = "btn btn-link" href="/course/edit-comment/{{this._id}}">Sửa comment này</a>
                        <a class = "btn btn-link" href="/course/delete-comment/{{this._id}}" data-toggle="modal" data-target="#delete-announcement" data-id ="{{this._id}}">Xoá comment này</a>
                    </div>
            </div>
        {{/each}}
        <br>
</div>
    <div id = "delete-announcement"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete this Comment?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action will delete this comment</p>
        <p id = "title-content"> </p>
      </div>
      <div class="modal-footer">
        <button id = "btn-delete" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-form" method="post"></form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var id; 

    var deleteForm = document.forms['delete-form']
$('#delete-announcement').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    id = button.data('id')
    });
    var btnDelete = document.getElementById('btn-delete')
    btnDelete.onclick = function(){
        deleteForm.action = '/course/delete-comment/'+ id;
        deleteForm.submit();
    }

});
</script>       
</body>
</html>