<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class = "form-content"  style="max-width: 20%;padding: 10px; float: left; margin-right: 5%;">
      <i class="bi bi-person" style="font-size: 2em;"></i>
      <p style="margin-bottom: 1px;"> Xin chào, {{ Realname }} </p>
      <a data-toggle="modal" data-target="#delete-announcement"  href="/logout">Đăng Xuất </a>
    </div>
    <div class = "form-content" style="float: left;max-width: 850px; width: 100%; height: 370px;">
      <h4 class ="reset" style="margin-top: 1px;">MỘT SỐ THÔNG BÁO MỚI</h4>
            {{#each AnnoucementInfoS}}
                <div>
                <a style="margin:0;display:inline;float:left" href="/announcement/{{this._id}}">[{{this.Type}}] {{this.Title}}  </a> 
                <p style="margin:0;display:inline:float:right" > - {{this.UpdateAt}}</p>
                
                </div>
            {{/each}}
            <a href="/announcement" style="float: right; margin-bot: 5px;">Xem thêm</a>
    </div>  

<div id = "delete-announcement"class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐĂNG XUẤT?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        <span style="color: black;">BẠN SẼ </span>
        <b style="color: red;">KHÔNG THỂ</b>
        <span style="color: black;">SỬ DỤNG MỘT SỐ TÍNH NĂNG </span>
      </p>
        
      </div>
      <div class="modal-footer">
        <button id = "btn-delete" type="button" class="btn btn-danger">ĐĂNG XUẤT</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ĐÓNG</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-form" method="post"></form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var id; 
    var title;
    var deleteForm = document.forms['delete-form']
   
    $('#delete-announcement').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    id = button.data('id')
    title = button.data('title')
    
    });

    var btnDelete = document.getElementById('btn-delete')
    btnDelete.onclick = function(){
        deleteForm.action = '/logout'
        deleteForm.submit();
    }

});
  
</script>
    
</body>
</html>